@model ShopITCourses.Models.Product

@{
    ViewData["Title"] = "Створення курсу";
    //var tokenUrl = $"{Context.Request.Scheme}://{Context.Request.Host}/token";
}

<h1 align="center">Створити курс для продажу</h1>

<hr />

<partial name="_Product" model="@Model"/>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    @{
        await Html.RenderPartialAsync("_CKEditor");
    }
}
